@{
    ViewBag.Title = "Главная";
}
<p>Повысьте производительность нашего сервера - закройте вкладку.</p>
<div class="sparkcontainer" align="center">
    <div class="dynamicsparkline">
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/Scripts/chart.js")
}
